@import url(../../node_modules/eva-icons//style/eva-icons.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 200px;
  width: 400px;
}

html > body {
  border: 1px solid orange;
  border-radius: 25px;
}
